%turbo-frame{id: "movies-page-#{@pagy.page}"}
  - @movies.includes(:comments).each do |movie|
    .row.mb-5
      .col-5
        .preview-youtube.ratio.ratio-16x9
          %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
          :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{movie.youtube_code}"}

      .col-7
        %ul.text-decoration-none.list-unstyled
          %li
            %h5.text-primary= movie.name
          %li
            %p Share by: #{movie.user.email}
          %li.d-flex{id: "vote-section-#{movie.id}"}
            = render partial: 'votes', locals: { movie: movie }
          %li
            %b Description:
            %p.line-clamp
              %i= movie.description
          %li
            %b Comments:
            %p.line-clamp
              - movie.comments.each do |comment|
                %p= comment.message
            %p.line-clamp
              - if user_signed_in?
                = link_to 'Add comment', new_movie_comment_path(movie), 'data-turbo': false
              - else
                = link_to 'Login to add comment', new_user_session_path, 'data-turbo': false

  %turbo-frame{id: "movies-page-#{@pagy.next}", loading: :lazy, src: pagy_url_for(@pagy, @pagy.next)}
