%p#notice= notice

%p
  %b Name:
  = @movie.name
%p
  %b Description:
  = @movie.description
%p
  %b Youtube code:
  = @movie.youtube_code

= link_to 'Edit', edit_movie_path(@movie)
\|
= link_to 'Back', movies_path
