%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    .menu-bar.d-flex.justify-content-between.w-100
      .left-side-bar.d-flex.align-items-center
        %i.bi.bi-house-fill
        %a.ms-2.navbar-brand{:href => "#"} Funny Movies
      .right-side-bar
        - if user_signed_in?
          = button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary'
        - else
          = form_with(model: User.new, url: user_session_path, data: { turbo: false }, class: 'row g-3 d-flex align-items-center') do |form|
            .col-auto
              = form.label :email, class: 'visually-hidden'
              = form.text_field :email, class: 'form-control', placeholder: 'email@example.com'
            .col-auto
              = form.label :password, class: 'visually-hidden'
              = form.password_field :password, class: 'form-control'
            .col-auto
              = form.submit 'Login / Register', class: "btn btn-primary"
